# Ignore node_modules directory
node_modules/

# Ignore environment files (if you're using dotenv)
.env

# Ignore log files and error reports
logs/
*.log
npm-debug.log*

# Ignore package-lock files
package-lock.json

# Ignore the dist or build directory (if you're using a build tool)
dist/
build/

# Ignore any local development config files
config.dev.json

# Ignore macOS system files
.DS_Store

# Ignore JetBrains IDE files
.idea/